[tool.poetry]
name = "ntfsdump"
version = "2.5.0"
description = "A tool for extract any files from an NTFS volume on an image file."
authors = ["sumeshi <sum3sh1@protonmail.com>"]
license = "LGPLv3+"
readme = "README.md"

repository = "https://github.com/sumeshi/ntfsdump"
homepage = "https://github.com/sumeshi/ntfsdump"

keywords = ['Security', 'Forensics', 'DFIR', 'Windows', 'NTFS']

[tool.poetry.scripts]
ntfsdump = 'ntfsdump.views.NtfsDumpView:entry_point'

[tool.poetry.dependencies]
python = "^3.9"
pytsk3 = "^20231007"
libewf-python = "^20230212"
libvmdk-python = "^20221124"
libvhdi-python = "^20221124"
poetry = "^1.7.0"
pytest = "^7.4.3"

[tool.poetry.group.dev.dependencies]
black = "^23.11.0"
mypy = "^1.7.0"
flake8 = "^6.1.0"
poetry = "^1.1.13"
pytest = "^7.0.1"
nuitka = "^1.8.6"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
