name: pytest

on:
  push:
    branches:
      - develop
      # - 'feature/**'

jobs:
  pytest:
    name: Run tests with pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.13']
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: install python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: setup uv
        run: |
          pip install uv
          uv sync

      - name: run tests
        run: uv run pytest
